@model WebForum.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.UserName's Profile</h2>

<div>
    <img src="@Model.AvatarUrl" alt="User Avatar" style="width: 150px; height: 150px;" />
</div>
<div>
    <h3>@Model.UserName</h3>
    <p>Email: @Model.Email</p>
    <p>Gender: @Model.Gender</p>
    <p>Description: @Model.Description</p>
</div>
