@model WebForum.Models.ViewModels.TopicDetailsViewModel

@{
    ViewData["Title"] = Model.Topic.Title;
}

<h2>@ViewData["Title"]</h2>

<div class="mb-3">
    <p>@Model.Topic.Content</p>
    <small>Created by @Model.Topic.User.UserName on @Model.Topic.Created</small>
</div>

<hr />

<h3>Posts</h3>

<ul class="list-group">
    @foreach (var post in Model.Posts)
    {
        <li class="list-group-item">
            <p>@post.Content</p>
            <small>Posted by @post.User.UserName on @post.Created</small>
        </li>
    }
</ul>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="AddPost">
        <div class="form-group">
            <label for="Content">Add a post</label>
            <textarea id="Content" name="content" class="form-control"></textarea>
        </div>
        <input type="hidden" name="topicId" value="@Model.Topic.Id" />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
}
